@import "../../helpers/functions.scss";
@import "../../helpers/mixins.scss";
@import "../../typography/variables.scss";
@import "../../typography/media_queries.scss";

.contact {
  @include flex(flex-start, center, column);
  width: 100%;
  height: px-to-rem(450px);
  background-color: #2F2F2F;
  @media screen and (max-width: px-to-rem(570px)) {
    height: px-to-rem(580px);
  }

  @media screen and (min-width: px-to-rem(571px)) and (max-width: px-to-rem(1000px)) {
    height: px-to-rem(780px);
  }

  &__hdl {
    width: px-to-rem(1140px);
    @include flex(center, flex-start, column);
    @media screen and (max-width: px-to-rem(570px)) {
      width: px-to-rem(200px);
    }

    @media screen and (min-width: px-to-rem(571px)) and (max-width: px-to-rem(1000px)) {
      width: px-to-rem(320px);
    }
    @media screen and (min-width: px-to-rem(1001px)) and (max-width: px-to-rem(1250px)) {
      width: px-to-rem(900px);
    }

    &__text {
      font-size: px-to-rem(30px);
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      margin-top: px-to-rem(70px);
      @media screen and (max-width: px-to-rem(570px)) {
        margin-top: px-to-rem(60px);
        font-size: px-to-rem(17px);
      }

      @media screen and (min-width: px-to-rem(571px)) and (max-width: px-to-rem(1000px)) {
        margin-top: px-to-rem(60px);
        font-size: px-to-rem(23px);
      }

      @media screen and (min-width: px-to-rem(1001px)) and (max-width: px-to-rem(1250px)) {
        margin-top: px-to-rem(60px);
        font-size: px-to-rem(25px);
      }
    }
  }
}

.contact__underscore{
  width: px-to-rem(80px);
  height: px-to-rem(2px);
  background-color: #74A5B4;
  margin-top: px-to-rem(-20px);
  @media screen and (max-width: px-to-rem(570px)) {
    width: px-to-rem(45px);
    margin-top: px-to-rem(-10px);
  }

  @media screen and (min-width: px-to-rem(571px)) and (max-width: px-to-rem(1000px)) {
    width: px-to-rem(60px);
    margin-top: px-to-rem(-10px);
  }
  @media screen and (min-width: px-to-rem(1001px)) and (max-width: px-to-rem(1250px)) {
    width: px-to-rem(65px);
    margin-top: px-to-rem(-15px);
  }
}


.container__contact{
  width: px-to-rem(1140px);
  @media screen and (max-width: px-to-rem(570px)) {
    width: px-to-rem(300px);
  }

  @media screen and (min-width: px-to-rem(571px)) and (max-width: px-to-rem(1000px)) {
    width: px-to-rem(400px);
  }
  @media screen and (min-width: px-to-rem(1001px)) and (max-width: px-to-rem(1250px)) {
    width: px-to-rem(900px);
  }
}

.box__contact {
  @include flex(center, center);
  justify-content: space-between;

  @media screen and (max-width: px-to-rem(1000px)) {
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
}

.box__contact__content{
  @include flex(center, center);
  margin-top: px-to-rem(100px);
  @media screen and (max-width: px-to-rem(570px)) {
    margin-top: px-to-rem(50px);
  }

  @media screen and (min-width: px-to-rem(571px)) and (max-width: px-to-rem(1000px)) {
    margin-top: px-to-rem(80px);
  }
  @media screen and (min-width: px-to-rem(1001px)) and (max-width: px-to-rem(1250px)) {
    margin-top: px-to-rem(80px);
  }
}

.box__contact__text{
  @include flex(center, center);
}

.contact__img{
  width: px-to-rem(50px);
  height: px-to-rem(50px);
  margin-right: px-to-rem(30px);
  background-size: px-to-rem(50px) px-to-rem(50px);


  @media screen and (max-width: px-to-rem(570px)) {
    width: px-to-rem(25px);
    height: px-to-rem(25px);
    margin-right: px-to-rem(7px);
    background-size: px-to-rem(25px) px-to-rem(25px);
  }

  @media screen and (min-width: px-to-rem(571px)) and (max-width: px-to-rem(1000px)) {
    width: px-to-rem(35px);
    height: px-to-rem(35px);
    margin-right: px-to-rem(10px);
    background-size: px-to-rem(35px) px-to-rem(35px);
  }
  @media screen and (min-width: px-to-rem(1001px)) and (max-width: px-to-rem(1250px)) {
    width: px-to-rem(35px);
    height: px-to-rem(35px);
    margin-right: px-to-rem(10px);
    background-size: px-to-rem(35px) px-to-rem(35px);
  }
}

.contact__title{
  font-size: px-to-rem(25px);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  margin-top: px-to-rem(25px);
  @media screen and (max-width: px-to-rem(570px)) {
    font-size: px-to-rem(15px);
    margin-top: px-to-rem(15px);
  }

  @media screen and (min-width: px-to-rem(571px)) and (max-width: px-to-rem(1000px)) {
    font-size: px-to-rem(20px);
    margin-top: px-to-rem(20px);
  }
  @media screen and (min-width: px-to-rem(1001px)) and (max-width: px-to-rem(1250px)) {
    font-size: px-to-rem(20px);
    margin-top: px-to-rem(20px);
  }
}

.contact__text{
  font-size: px-to-rem(20px);
  color: #AFAFAF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  @media screen and (max-width: px-to-rem(570px)) {
    font-size: px-to-rem(13px);
  }

  @media screen and (min-width: px-to-rem(571px)) and (max-width: px-to-rem(1000px)) {
    font-size: px-to-rem(15px);
  }
  @media screen and (min-width: px-to-rem(1001px)) and (max-width: px-to-rem(1250px)) {
    font-size: px-to-rem(15px);
  }
}

.socials__img{
  width: px-to-rem(45px);
  height: px-to-rem(45px);
  margin-inline: px-to-rem(10px);
  margin-top: px-to-rem(25px);
  cursor: pointer;
  background-size: px-to-rem(45px) px-to-rem(45px);

  &:nth-child(1){
    background-image: url("../../images/linkedin.png");
  }

  &:nth-child(2){
    background-image: url("../../images/github.png");
  }

  &:nth-child(3){
    background-image: url("../../images/instagram.png");
  }

  @media screen and (max-width: px-to-rem(570px)) {
    background-size: px-to-rem(25px) px-to-rem(25px);
    margin-inline: px-to-rem(5px);
    margin-top: px-to-rem(10px);
    width: px-to-rem(25px);
    height: px-to-rem(25px);
  }

  @media screen and (min-width: px-to-rem(571px)) and (max-width: px-to-rem(1000px)) {
    background-size: px-to-rem(35px) px-to-rem(35px);
    margin-inline: px-to-rem(5px);
    margin-top: px-to-rem(15px);
    width: px-to-rem(35px);
    height: px-to-rem(35px);
  }
  @media screen and (min-width: px-to-rem(1001px)) and (max-width: px-to-rem(1250px)) {
    background-size: px-to-rem(35px) px-to-rem(35px);
    margin-inline: px-to-rem(5px);
    margin-top: px-to-rem(15px);
    width: px-to-rem(35px);
    height: px-to-rem(35px);
  }
}

.email__img{
  background-image: url("../../images/email.png");
}

.telephone__img{
  background-image: url("../../images/telephone.png");
}

.media__img{
  background-image: url("../../images/share.png");
}